<div class="register-wrapper">
    <div class="register-container">
        <h2>REGISTRO</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" formControlName="name" placeholder="Introduce tu nombre">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" placeholder="Introduce tu correo electrónico">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" formControlName="password" placeholder="Introduce tu contraseña">
            </div>
            <button type="submit" [disabled]="registerForm.invalid" class="btn-register">REGISTRO</button>
        </form>

        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

        <div class="links">
            <p>Ya tienes una cuenta? <a routerLink="/login">INICIO DE SESION</a></p>
            <a routerLink="/" class="back-home">Volver al Inicio</a>
        </div>
    </div>
</div>